
.container{
    background-image: url('/public/images/hero_bg.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
}
.div{
    margin-inline: auto;
    background-color: transparent;
    padding-block: 150px;
    width: clamp(40rem, 60%, 100em);
}
.two_buttons{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
