
.container{
    background-image: url('/public/images/hero_bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    
}
.div{
    background-color: transparent;
    padding-block: clamp(10rem,2vw, 13rem);
    margin: auto;
    width: clamp(18rem, 80vw, 70em);
}
.two_buttons{
    display: flex;
    width: fit-content;
    margin-top: 30px;
    gap: 20px;
}
@media(min-width:1880px){
    .container{
        background-position: top right;
    }
}
@media (max-width:467px){
    .two_buttons{
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-top: 30px;
      gap: 20px;
    }
  }
