.span,.title_light,.title_dark,.details{
    width: fit-content;
    margin: 0;
}
.span{
    font-family:'Poppins';
    color: red;
    font-size: 13px;
    letter-spacing: 2px;
}
.title_light,.title_dark{
    font-family: 'Merriweather';
    font-weight: bolder;
    font-size: clamp(1.8rem,3vw,3.5rem);
    margin-block: 25px;
}
.title_light,.details_light{
    color:white;
}
.details_light,.details_dark{
    font-weight: 300;
    width: clamp(18rem,50vw,30rem);
    line-height: 25px;
}