
.section{
    padding: clamp(3em,2vw,6em);
    background-image: url('../../../public/images/testimonial-bg.jpg');
    padding-bottom: clamp(21em,3vw,30em);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: rgb(241, 241, 241);
}
.div{
    display: flex;
    gap: 3em;
    background-color: transparent;
    width: clamp(8em, 70vw, 70em);
    margin-inline: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
}
.div::-webkit-scrollbar{
    display: none;
}
.content{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.content div{
    width: clamp(8em, 70vw, 70em);
    text-align: center;
    background-color: rgb(223, 223, 223);
    margin-top: 1em;
}
.profile_comment{
    text-decoration: underline rgba(0,0,0,.2);
    font-size: 1.2em;
    font-weight: 200;
    width: 100%;
    color: black;
    text-underline-offset: 5px;
}
.span{
    color: red;
    font-weight: bold;
    font-size: 2em;
}
.title{
    margin-inline: auto;
    width: fit-content;
    font-family: 'Merriweather';
    font-size: clamp(2em,2vw,3em);
}
.profile_img{
    height: 5em;
    width:5em;
    border-radius: 50%;
}
.four_button{
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
    margin: auto;
    width: fit-content;
}
.inactive,.active{
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    height: 1.2em;
    width: 1.2em;
    
}
.inactive{
    background-color: rgb(206, 206, 206);
}
.active{
    background-color: red;
    border-radius: 5px;
    position: relative;

}
.active:after{
    content: '';
    height: 1.2em;
    width: 1.2em;
    background-color: red;
    bottom: 3px;
    left: 0;
    position: absolute;
    z-index: 9999;
    transform: rotate(45deg);
}
