@import './fonts.css';

.span{
  font-family:'Poppins';
  color: red;
  font-size: 13px;
  letter-spacing: 2px;
}

.title{
  font-family: 'Merriweather';
  font-weight: bolder;
  font-size: 40px;
  margin-block: 25px;
}