@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/merriweather.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins.woff2') format('woff2');
}
