@import '../../fonts.css';

.nav{
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: clamp(.8rem , .9vh, 14px);
    background-color: rgba(0,0,0);
}
.nav section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: clamp(18rem, 80vw, 70em);
}
.logo{
    background-color: white;
    height: 100%;
    width: 12em;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.btn{
    color: white;
    padding: .5em 1em;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.list_item,.btn{
    font-family: 'Poppins';
    font-size: 1.1rem;
}
.list_item{
    color: rgb(190, 190, 190);
    font-size: 1rem;
}
.div{
    display: flex;
    align-items: center;
    gap: 40px;
}
.hamburger_menu{
    display: none;
    width: 40px;
}
@media (max-width: 1023px) {
    .hamburger_menu{
        display: block;
    }
    .nav_list{
        display: none;
    }
}
@media (max-width: 767px){
    .btn{
        display: none;
    }
}
.mobile_menu{
    position: fixed;
    z-index: 10000;
    background-color: black;
    top: 0;
    right: 0;
}
.mobile_close_div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .6em .8em;
}
.close_button{
    background-color: transparent;
    border: none;
}
.close_button_icon{
    width: 2em;
}
.mobile_buy_div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: .3em;
}
.mobile_buy_btn{
    padding: .8em 6em;
    background-color: red;
    border: none;
    border-radius: .3rem;
    color: white;
    font-family: 'Poppins';
    font-weight: bolder;
}
.mobile_list{
    list-style: none;
    padding: 0;
}
.mobile_list_item,.social_media_div{
    color: rgba(255,255,255,.7);
}
.mobile_list_item{
    font-family: 'Poppins';
    font-size: .8rem;
    padding: .6rem 1rem;
    border-block:.1px solid rgba(255,255,255,.1);
}
.social_media_div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .8rem 0;
    gap: .8em;
    list-style-type: none;
}
.ham_btn{
    background-color: transparent;
    border: none;
}
.close {
    height: 100%;
    opacity: 0;
    width: 0vw;
    transition: all .2s linear;

}
.open{
    opacity: 1;
    height: 100%;
    width: 80vw;
    transition: all .2s linear;
}