@import '../../fonts.css';

.nav{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-block: clamp(3px , .9vh, 14px);
    padding-inline:clamp(3rem, 4rem, 30rem);
    background-color: rgba(0,0,0,.9);
}
.logo{
    background-color: white;
    height: 30px;
    width: 90px;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 40px;
}
.btn{
    color: white;
    height: 40px;
    width: 95px;
    padding-block: 5px;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.list_item,.btn{
    font-family: 'Poppins';
}
.list_item{
    color: rgb(190, 190, 190);
    font-size: 14px;
}
.div{
    display: flex;
    align-items: center;
    gap: 40px;
}
.hamburger_menu{
    display: none;
    width: 40px;
}
@media (max-width: 1023px) {
    .hamburger_menu{
        display: block;
    }
    .nav_list{
        display: none;
    }
}
@media (max-width: 767px){
    .btn{
        display: none;
    }
}